Abuse report: Active DDoS participation from within your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We have been informed that the following list of IP addresses participated in a DDoS attack during the last days against the target 159.100.251.18.
 Logs of blocked attempts for yesterday are listed below:

  $details

 Please note: in a previous version of this report the IP address was not readable (missing dots). This is an update to this report.

 If you have further questions, don't hesitate to get back to us.

 We greatly appreciate your prompt attention to this matter. Kindly intimate
 us about action taken in this matter at the earliest. 
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
