Abuse report: Cybersquatting domain 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We found out that at the time of writing the following domain/website appears to be a copy of our constituent's website. In addition, the domain name is composed of the brand name of our constituent. 

  $details

 Please remove the domain squatting content of the website and disable the domain. Please preserve the evidences for potential law enforcement actions.
 
 You can find more information about cybersquatting/domain squatting here: https://en.wikipedia.org/wiki/Cybersquatting 
 
 Don't hesitate to get back to us if you have further questions or need additional support.
 
 We would appreciate if you confirm the reception of this report.
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 16, boulevard d'Avranches - L-1160 Luxembourg
 http://www.circl.lu/
