Abuse report: Active DDoS participation from within your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We have been informed that the following list of IP addresses participated in a DDoS attack around December 20, 2016 at 14:40 hrs(TimeStamp/Zone:IST/GMT+530). 
 The suspected IP addresses are to be running as open DNS resolver.

  $details

 Such attacks are being carried out by exploiting open or misconfigured
 domain name servers that allow recursive queries on authoritative or
 non-authoritative name servers. This allows unauthenticated remote
 attackers to misuse such publically available open DNS resolvers to
 carryout large scale amplified Denial of Service (DrDoS) attacks.

 We kindly request you to get these vulnerable devices patched or
 appropriately configured to prevent their further misuse.

 We greatly appreciate your prompt attention to this matter. Kindly intimate
 us about action taken in this matter at the earliest. 
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 16, boulevard d'Avranches - L-1160 Luxembourg
 http://www.circl.lu/
