Abuse report: Emotet related compromised clients in your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We found out that at the time of writing the following list of machines appears to be compromised by Emotet malware. The Emotet malware steals login credentials for email accounts configured on infected systems. The compromised credentials are subsequently provided to spam bots in order to send out larger amounts of spam mails to further spread the Emotet malware.

  $details

 The provided log contains unique contact moments from the analysis so far, where a victim was connected to the T1 server, including the timestamp. A single victim could have contacted multiple T1 servers, which results in multiple entries in the list.

 The data provided should allow you to locate each victim and take proper measures. We believe many victims may (still) not be aware of the infection(s) and this information can contribute to (ongoing) investigations by the victims.

 We would like to ask you to notify the owners of the affected machines and/or the responsible network providers of the compromised machines and related Emotet infections.

 Don't hesitate to get back to us if you have further questions or need additional support.
 
 We would appreciate if you confirm the reception of this report.
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
