Abuse report: Emotet related compromised email accounts in your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We found out that at the time of writing the following list of email addresses appears to be compromised by Emotet malware. The Emotet malware steals login credentials for email accounts configured on infected systems. The compromised credentials are subsequently provided to spam bots in order to send out larger amounts of spam mails to further spread the Emotet malware.

  $details

 We would like to ask you to notify the owners of the affected email accounts and/or the responsible network providers of the account compromises and related Emotet infections.

 We are aware that a few individual email accounts included in the list are outdated and no longer exist. The reason is that those older accounts were still configured in email clients when the systems of the corresponding users got infected with Emotet. 

 Don't hesitate to get back to us if you have further questions or need additional support.
 
 We would appreciate if you confirm the reception of this report.
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
