Potential information leak: /server-status on $address
Dear Abuse teams,
Dear DPO,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 You or your organisation is operating one or more Web Server which has mod_status activated and /server-status is accessible to the world. The information contained there might lead to information leaks like reading credentials encoded in URLs.

  $details

 It is recommended to disable this module or restrict access to the information on that website to a limited set of sources, like IP addresses.

 In case of positive identification of compromised information, don't forget to follow the data privacy regulation laws in Europe. It is necessary to identify the problem in detail, identify the leaked personal data and affected people, and contact CNPD within 72 hours to comply with the law and in order to notify the affected people about the leak.

 If you need any support or additional information, don't hesitate to get back to us.
 
 Please acknowledge the reception of this security notification.


 Best regards,

 --
 CIRCL - Computer Incident Response Center Luxembourg
             c/o "security made in Lëtzebuerg" g.i.e.
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
 +352 247 88444

