Vulnerability report: vulnerable Fortigate plugin version on $address
Dear Abuse teams,
Dear DPO,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 One or more vulnerabilities have been identified on your organization's Fortigate server/service:

  $details

 We strongly recommend that you investigate whether your system has been compromised and update the software as soon as possible. Keep in mind that updating the software alone may not be sufficient, as a compromised system can remain compromised even after updating.

 In the event that you identify a compromise, it is important to follow the data privacy regulations in your region. This may include identifying the extent of the compromise and the personal data that has been leaked, as well as contacting the relevant authorities within 72 hours to comply with the law and notify affected individuals.

 If you need any support or additional information, please don't hesitate to contact us. We would also appreciate it if you could acknowledge receipt of this security notification.


 Best regards,

 --
 CIRCL - Computer Incident Response Center Luxembourg
             c/o "security made in Lëtzebuerg" g.i.e.
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
 +352 247 88444

