Abuse report: Malicious Nanocore activities 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We found out that at the time of writing the following server appears to be used as command and control server for a Remote Access Tool.

  $details

 Please take down the server, which is used for malicious/illegal activities. 

 The following link gives more information about the activities: https://www.virustotal.com/file/000153b2248a3c19bbcd994bd26321ddac9ab3f725b891cf17de6fad0b3297e9/analysis/1472455588/
 
 Don't hesitate to get back to us if you have further questions or need additional support.
 
 We would appreciate if you confirm the reception of this report.
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 16, boulevard d'Avranches - L-1160 Luxembourg
 http://www.circl.lu/
