Abuse report: Vulnerable ownCloud/Nextcloud server in your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We found out that at the time of writing the following list of hosts appears to be running an outdated and vulnerable version of ownCloud/Nextcloud, openly accessible from the Internet:

  $details

 The vulnerabilities can be exploited to gain unauthorized access to the data stored in the cloud. Attackers could potentially get access to sensitive information like private documents, photos or customer data from companies and subsequently publish this information on the Internet or utilize it for criminal activities like blackmailing. Other vulnerabilites can be exploited to execute arbitrary code on the cloud server and potentially lead to a full compromise of the system and its abuse for further criminal activities.

 Nextcloud GmbH provided us via our German counterpart CERT-Bund with the results of their tests for assistance with notification of affected parties.
 
 Nextcloud GmbH provides detailed information on the vulnerabilities identified with each cloud instance at:

 https://scan.nextcloud.com/results/[UUID]

 The Parameter [UUID] needs to be replaced with the UUID provided for the respective system. Example:

 https://scan.nextcloud.com/results/12345678-1234-1234-1234-12345678

 We would like to ask you to notify the owners of the affected systems and/or the responsible hosting providers. Software updates fixing the vulnerabilities are available for all reported issues. 

 The scan was performed by Nextcloud GmbH, Germany. In case of questions on the tests performed by Nextcloud GmbH please reach out to <cloud-security-scan@nextcloud.com>.

 Don't hesitate to get back to us if you have further questions or need additional support.
 
 We would appreciate if you confirm the reception of this report.
 
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 16, boulevard d'Avranches - L-1160 Luxembourg
 http://www.circl.lu/
