Abuse report: Phishing server/redirect 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We found out that at the time of writing the following website appears to be compromised and is actively being abused for phishing credentials or redirecting to a phishing site.

  $details

 Please remove the phishing components from your web server. We would appreciate if you could share the collected information with us for warning the victims. Patch all applications (content management systems, plugins and alike) and server components (web server, ftp and alike) to the latest version and review the security settings of all components.

 Please note: sometimes phishing sites redirect to legitimate sites. In this automated processing of phishing, we cannot always avoid to notify owners of legitimate sites and falsely inform them about their site being a phishing site. Please contact info@circl.lu in a separate mail about your whish to whitelist your domain.
 
 You can find a collection of best practices on our web site: https://www.circl.lu/pub/tr-26/
 
 Don't hesitate to get back to us if you have further questions or need additional support.
 
 We would appreciate if you confirm the reception of this report.
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg 
 http://www.circl.lu/
