Vulnerability report: Potentially vulnerable ABUS Secvest devices in your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 You or your organisation is operating one or more ABUS Secvest device which is accessible unfiltered on the Internet:

  $details

 These devices - if not patched - might have known security vulnerabilities, which can be read up on the links below [1][2].
 
 It is recommended to prioritize installing the patches from the vendor as soon as possible.

 Even in the case the devices operated by you are up-to-date, we highly recommend to restrict access, in order to be immune against potential 
 future attacks (network level, pre-authentication attacks). Place them behind a firewall and restrict access to the devices to known IP addresses
 or use a VPN to access them.

 
 Please acknowledge the reception of this security notification.

 We hope this helps.

 Best regards

 [1] https://therecord.media/10000-unpatched-home-alarm-systems-can-be-deactivated-remotely/
 [2] https://eye.security/en/blog/breaking-abus-secvest-internet-connected-alarm-systems-cve-2020-28973

 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/

