Vulnerability report: Potentially vulnerable Exim servers in your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 You or your organisation is operating one or more Exim server in version 4 which need immediate attention and must be patched immediately:

  $details

 It is recommended to prioritize installing the security patches tagged as "exim-4.94.2" as soon as possible.

 Please consult the following page for more details: https://www.openwall.com/lists/oss-security/2021/05/04/6

 Please acknowledge the reception of this security notification.

 We hope this helps.

 Best regards

 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/

