Abuse report: Accessible CWMP server in your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We have been informed by a trusted source that at the time of writing the following list of IP(s) appear to be accessible CWMP servers, which means theCPE WAN Management Protocol (CWMP) (see https://en.wikipedia.org/wiki/TR-069 for more information) is running and accessible on the internet. [1][2][3]. Please review [4] for security enhancement proposals.

  $details

 What are possible solutions?
 
 (1) Disable the service if not needed

 (2) Implement access lists to restrict access to this service

 
 Don't hesitate to get back to us if you have further questions or need additional support or want to inform us about false positives.
 
 We would appreciate if you confirm the reception of this report.
 
 [1] https://en.wikipedia.org/wiki/TR-069
 [2] https://www.shadowserver.org/wiki/pmwiki.php/Services/Open-CWMP
 [3] https://cwmpscan.shadowserver.org
 [4] https://www.qacafe.com/training/best-practices-for-securing-tr-069/

 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 16, boulevard d'Avranches - L-1160 Luxembourg
 http://www.circl.lu/
