Abuse report: Accessible MSMQ hosts in your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We have been informed by a trusted source that at the time of writing the following list of IP(s) appear to be publicly accessible MSMQ servers on port 1801/TCP. There is no need to expose this service to the Internet. In contrast, the services is frequently abused for malicious activities [1]. Timestamps are in UTC+0.

  $details

 What are possible solutions?
 
 (1) Disable the service if not needed

 (2) Implement access lists to restrict access to this service

 
 Don't hesitate to get back to us if you have further questions or need additional support or want to inform us about false positives.
 
 We would appreciate if you confirm the reception of this report.
 
 [1] https://msrc.microsoft.com/update-guide/vulnerability/CVE-2023-36910

 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
