Abuse report: Command and Control server
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We found out that at the time of writing the following server appears to be acting as Command and Control server for illegal activities.

  $details

 Command and Control servers are the criminal’s point of control for their botnets. While our reports focus on the IRC Command and Control, there are also HTTP, P2P, and hybrid servers in use. Many times, a Command and Control will have leaf nodes to extend its reliability, these will all be listed for each Command and Control, and you may have more information per single botnet. Timestamps are in UTC+0.

 Please investigate and check if this endpoint can be terminated.
 
 Don't hesitate to get back to us if you have further questions or need additional support.
 
 We would appreciate if you confirm the reception of this report.
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
