Abuse report: Open Portmapper server in your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We have been informed by a trusted source that at the time of writing the following list of IP(s) appear to be open Portmapper servers [1][2]. This service has the potential to be used in amplification attacks by criminals that wish to perform denial of service attacks (see US-CERT Alert TA14-017A[3]) and Level3's Blog[4] for more information). In addition to being used in denial of service attacks, portmapper can be used to obtain a large amount of information about the target, including the NFS exports that are hosted by that device, if the mountd program is also accessible. Timestamps are in UTC+0.

  $details

 What are possible solutions?
 
 (1) Disable the service if not needed

 (2) Implement access lists to restrict access to this service

 
 Don't hesitate to get back to us if you have further questions or need additional support or want to inform us about false positives.
 
 We would appreciate if you confirm the reception of this report.
 
 [1] https://en.wikipedia.org/wiki/Portmap
 [2] https://www.shadowserver.org/wiki/pmwiki.php/Services/Open-Portmapper
 [3] https://www.us-cert.gov/ncas/alerts/TA14-017A
 [4] http://blog.level3.com/security/a-new-ddos-reflection-attack-portmapper-an-early-warning-to-the-industry/

 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
