Abuse report: Open LDAP service in your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We have been informed by a trusted source that at the time of writing the following list of IP(s) appear to be publicly accessible LDAP servers. While authentication is available for LDAP, in many instances this authentication is not enabled and attackers gain easily access to the contained data. In addition, the service allows for an ~60x amplification vector for denial of service attacks. Timestamps are in UTC+0.

  $details

 What are possible solutions?
 
 (1) Disable the LDAP service if not needed

 (2) Implement access lists to restrict access to this service

 
 Don't hesitate to get back to us if you have further questions or need additional support or want to inform us about false positives.
 
 We would appreciate if you confirm the reception of this report.
 
 [1] https://www.shadowserver.org/wiki/pmwiki.php/Services/Open-LDAP
 [2] https://ldapscan.shadowserver.org

 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
