Abuse report: Potentially compromised infrastructure 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We found out that at the time of writing the following IP addresses/computers appears to be compromised and initiating connections to a sinkhole:

  $details

 Please review the security of the aforementioned systems. Please investigate and remove the malware, patch all applications and Operating System to the latest version and review the security settings of all components. Please also consider reinstalling the system. Timestamps are in UTC+0.

 This report contains events (connections) to HTTP Sinkholes. Sinkholing is a technique whereby a resource used by malicious actors to control malware is taken over and redirected to a benign listener that can (to a varying degree) understand connections coming from infected devices.

 This report identifies the IP addresses from all the devices that joined a sinkhole server that did not arrive through an HTTP referrer.

 Since a sinkhole server is only accessed through previously malicious domain names, only infected systems or security researchers should be seen in this list. However, the sinkholes may also pick up web crawlers requesting malicious domains. 
 
 Don't hesitate to get back to us if you have further questions or need additional support.
 
 We would appreciate if you confirm the reception of this report.
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
