Abuse report: Spam messages originated from your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We have been informed by a trusted source [1] that at the time of writing the following list of client(s) were (ab)used to send out Spam messages.

  $details

 Area of concern:
 
 (1) If the "src" IP is one of your systems, this means that your email server was the one sending, routing, or forwarding the Spam messages. 
 
 Please investigate why the machine is sending out Spam messages. It might require a clean-up and/or a forensic investigation.


 Don't hesitate to get back to us if you have further questions or need additional support or want to inform us about false positives.
 
 We would appreciate if you confirm the reception of this report.
 
 [1] https://www.shadowserver.org/wiki/pmwiki.php/Services/Spam-URL

 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 16, boulevard d'Avranches - L-1160 Luxembourg
 http://www.circl.lu/
