Vulnerability report: Vulnerable HTTP server in your network 
Dear Abuse teams,
 
 CIRCL is the CERT/CSIRT (Computer Emergency Response Team/Computer Security Incident Response Team) for the private sector, communes and non-governmental entities in Luxembourg.
 
 We have been informed by a trusted source that at the time of writing the following list of systems appears to run vulnerable HTTP servers. Timestamps are in UTC+0.

  $details

 This report identifies hosts that have the Hypertext Transfer Protocol (HTTP) service running on some port that may have a vulnerability. These reports are typically considered "high" or "critical" or can emerge quickly to those levels.

 We typically focus on pre-auth RCE vulnerabilities (or vulnerabilities that can be chained together by attackers to remotely execute code) in critical or otherwise popular software that is often exposed to the public Internet. We strongly recommend reviewing any system (and your network!) for signs of compromise if you receive a report from us. This is because many of these are known to be actively exploited in the wild. You should also make sure to proceed to mitigate the vulnerability based on the current vendor recommendations.
 
 Don't hesitate to get back to us if you have further questions or need additional support or want to inform us about false positives.
 
 We would appreciate if you confirm the reception of this report.
 
 With kind regards,
 --
 CIRCL - Computer Incident Response Center Luxembourg
 122, rue Adolphe Fischer - L-1521 Luxembourg
 http://www.circl.lu/
